Source: ros-dashing-turtlebot3-gazebo
Section: misc
Priority: optional
Maintainer: Will Son <willson@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-dashing-ament-cmake, ros-dashing-gazebo-ros-pkgs, ros-dashing-geometry-msgs, ros-dashing-nav-msgs, ros-dashing-rclcpp, ros-dashing-sensor-msgs, ros-dashing-tf2, ros-dashing-turtlebot3, ros-dashing-ros-workspace
Homepage: http://turtlebot3.robotis.com
Standards-Version: 3.9.2

Package: ros-dashing-turtlebot3-gazebo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-dashing-gazebo-ros-pkgs, ros-dashing-geometry-msgs, ros-dashing-nav-msgs, ros-dashing-rclcpp, ros-dashing-sensor-msgs, ros-dashing-tf2, ros-dashing-turtlebot3, ros-dashing-ros-workspace
Description: Gazebo simulation package for the TurtleBot3
