Source: ros-humble-turtlebot3-manipulation-gazebo
Section: misc
Priority: optional
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake, ros-humble-ros-workspace
Homepage: http://turtlebot3.robotis.com
Standards-Version: 3.9.2

Package: ros-humble-turtlebot3-manipulation-gazebo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-gazebo-ros, ros-humble-gripper-controllers, ros-humble-robot-state-publisher, ros-humble-ros2-control, ros-humble-ros2-controllers, ros-humble-rviz2, ros-humble-xacro, ros-humble-ros-workspace
Description: Gazebo simulation package for the TurtleBot3 manipulation
